*{
margin-top: 1px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}
.desc{
    position: relative;
    width: 100%;
    height: 38px;
    background-color: #1CD1B0;
}
.txt{
font-family: 'Times New Roman', Times, serif;
font-size: larger;
position: relative;
top: 6px;
left: 20px;
}
.title{
    position: relative;
    width: 100%;
    height: 101px;
    background-color: #00669F;
    box-shadow: 0px 10px 7px rgb(179 176 176);
    top: -2px;
}
.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
position: relative;
top: 25px;
left: 30px;
font-size: 40px;
}
.content{
    height: 820px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
}
main{
    background-color: rgb(217, 228, 228);
}
.card{
    background-color:rgb(255, 255, 255);
    width: 300px;
    height: 529px;
    display: flex;
    border-radius: 16px 16px 0px 0px;
    box-shadow: 2px 2px 1px 2px rgb(211, 206, 206);
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5%;
    border-color: rgb(88, 92, 92);
    padding: 1px;
    border: #1CD1B0;

}
/* BATMAN 1 */
.pic{
    background-repeat: no-repeat;
    width: 300px;
    height: 193px;
}
.batman-pic{
    border-radius: 50%;
    width: 120px;
    height: 118px;
    margin-top: -90px;
}
.heart{
    position: relative;
    top: -230px;
    left: -122px;
}
.heroe{
    flex-direction: row;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    position: relative;
    top: -30px;

}
.parrafo{
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    position: relative;
    top: -15px;
    }
.button{
    
    background-color: #00669F;
    width: 120.78px;
    height: 52.52px;
    position: relative;
    top: -15px;

}
.pp{
    padding: 15px 2px 8px 35px;
    color: aliceblue;
    box-shadow: 1px 1px 3px #013958;
    
}
.end{
    width: 100%;
    height: 51px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.ppp{
   
    color: aliceblue;
    top: 20px;
    padding: 15px 30px;
}